<div class="wrap row">
	<div class="large-4 columns">
		<div class="block">
		<img src="{{ theme_path }}img/icon1.png" width="61" alt="">
		<h4>We Recover it</h4>
		<p>Within the 45% of the stocks of fruits and vegetables wasted, hard not to find perfectly edible food. We are there to recover it before they are dumped and curate them so you can get the best value. </p>
		</div>		
	</div>

	<div class="large-4 columns">
		<div class="block">
		<img class="icon2" src="{{ theme_path }}img/icon2.png" width="112" alt="">
		<h4>We Deliver it</h4>
		<p>Once we’ve selected the best items, we pack them for you and bring it to your office, home, or anywhere you would like us to. Just let us know where and we’ll take it from there.</p>
		</div>		
	</div>

	<div class="large-4 columns">
		<div class="block">
			<img class="icon3" src="{{ theme_path }}img/icon3.png" width="73" alt="">
			<h4>You Enjoy it</h4>
			<p>You’ve probably waited to long, haven’t you? We agree, 24h is heck long after you’ve ordered food so it’s time for you to sit back, relax, and rejoice in great produce!</p>
		</div>	
	</div>
</div>


<div class="row">
  <div class="large-12 large-centered small-8 columns">
    <div class="button-container">
      <a href="#invite"><div class="button orange">Request Shopping Invite</div></a>
    </div>    
  </div>
</div>