<!-- <footer role="contentinfo">
  <small>&copy; {{ current_date format="Y" }} <a href="{{ _site_url }}">{{ _site_name }}</a> Powered by <a href="http://statamic.com">{{ noparse }}{{ statamic }}{{ /noparse }}</a></small>
</footer> -->

<div class="large-12 columns">
	<div class="left footer">
		<ul class="social">
			<li><a href="http://facebook.com/sincuru" target="_blank"><i class="fa-facebook-square fa"></i></a></li>
			<li><a href="http://twitter.com/sincuru" target="_blank"><i class="fa-twitter-square fa"></i></a></li>
			<li><a href="http://linkedin.com/company/sincuru" target="_blank"><i class="fa-linkedin-square fa"></i></a></li>
			<li><a href="http://pinterest.com/sincuru" target="_blank"><i class="fa-pinterest-square fa"></i></a></li>
			<li><a href="http://instagram.com/sincuru" target="_blank"><i class="fa-instagram fa"></i></a></li>
			<li><a href="http://google.com/+sincuruinc" target="_blank"><i class="fa-google-plus-square fa"></i></a></li>
			<li><a href="http://youtube.com/sincuru" target="_blank"><i class="fa-youtube-square fa"></i></a></li>
		</ul>
	</div>
	<div class="right">

		<ul class="inline">
			<li><a href="http://startups.livechatinc.com"> <img src="http://cdn.livechatinc.com/startups/livechat-for-startups@2x.png" width="96" height="72" alt="LiveChat for Startups"></a></li>

			<li><p>© Copyright Sincuru Ltd. 2014</p></li>
		</ul>	
		
	</div>
</div>


  
{{# 
====================================
  NOTES
====================================

This is the main footer partial.

For more information on partials see http://statamic.com/learn/theming/partials.
  
#}}
