<header>
  <div class="strip">
    <div class="small-12 columns">
        <a href="/"><img src="{{ theme_path }}img/logo_retina1_beta.png" width="200" height="53" alt="" /></a>
    <nav>
      <ul>
        <li><a href="http://blog.sincuru.com" target="_blank">Blog</a></li>
        <li class="rounded"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  </div>

</header>

{{# 
====================================
  NOTES
====================================

This is the main header partial.

For more information on partials see http://statamic.com/learn/theming/partials.
  
#}}
