<div class="row">
	<div class="large-6 columns large-centered full">	
		<div class="form1">
			<div class="clear10"></div>
			<h2>Request a Beta Invite</h2>
			<p>We will create a bespoke account group to our beta platform for your company.</p>
			{{ if {raven:success} }}
			<h4 class="alert1">Amazing! We will have an invite sent to you ASAP!</h4>
			{{ endif }}

			{{ raven:form formset="request" }}
			  <input type="text" name="Fullname" placeholder="Full Name" value="{{ value:fullname }}" />
			  <input type="text" name="Company / Group" placeholder="Company / Group Name" value="{{ value:group }}" />
			  <input type="email" name="Email" placeholder="Email" value="{{ value:email }}" />
			  <input class="submit" type="submit" value="Submit">
			{{ /raven:form }}	

		</div>	
	</div>
</div>


