<div class="row">
	<div class="large-6 columns large-centered">	
		<div class="form">
			<div class="clear10"></div>
			<h2 class="main">Request an Invite</h2>
			<p>We will create a bespoke account group to our beta platform for your company where each member can then login with the universal company credentials carrying out their specific order.</p>
			{{ if {raven:success} }}
			<h4 class="alert1">Amazing! We will have an invite sent to you ASAP!</h4>
			{{ endif }}

			{{ raven:form formset="request" }}
			  <input type="text" name="Firstname" placeholder="First Name" value="{{ value:firstname }}" />
			  <input type="text" name="Lastname" placeholder="Last Name" value="{{ value:lastname }}" />
			  <input type="text" name="Company / Group" placeholder="Company / Group Name" value="{{ value:group }}" />
			  <input type="email" name="Email" placeholder="Email" value="{{ value:email }}" />
			  <input type="text" name="Telephone" placeholder="Telephone" value="{{ value:telephone }}" />
			  <textarea placeholder="Note" name="note">{{ value:note }}</textarea>
			  <input class="submit" type="submit" value="Submit">
			{{ /raven:form }}	

		<ul class="social">
			<li><a href="http://facebook.com/sincuru" target="_blank"><i class="fa-facebook-square fa"></i></a></li>
			<li><a href="http://twitter.com/sincuru" target="_blank"><i class="fa-twitter-square fa"></i></a></li>
			<li><a href="http://linkedin.com/company/sincuru" target="_blank"><i class="fa-linkedin-square fa"></i></a></li>
			<li><a href="http://pinterest.com/sincuru" target="_blank"><i class="fa-pinterest-square fa"></i></a></li>
			<li><a href="http://instagram/sincuru" target="_blank"><i class="fa-instagram fa"></i></a></li>
			<li><a href="http://google.com/+sincuruinc" target="_blank"><i class="fa-google-plus-square fa"></i></a></li>
			<li><a href="http://youtube.com/sincuru" target="_blank"><i class="fa-youtube-square fa"></i></a></li>
		</ul>
		</div>	
	</div>
</div>


