//MY STYLES


$black: #1b1b1b;
$green: #3ecc69;

.clear10{padding:10px 0 10px 0;}
.clear20{padding:20px 0 20px 0;}
.clear30{padding:30px 0 30px 0;}
.clear40{padding:40px 0 40px 0;}
.clear50{padding:50px 0 50px 0;}


body{
  background: url('../img/bg_main.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input, textarea {
	border-radius:6px;
	border:none !important;
	box-shadow:none !important;
}

.form input.submit{
	float: right;
	padding: 14px;
	background: $green;
	color: white;
	cursor: pointer;
}

.grn-square{
	background:$green;
}

.strip{
	padding: 0 0 116px;

	img{
		padding-top: 26px;
	}
}

nav{

	float:right;

	ul{padding-top: 34px;}

	li{
	display:inline-block;
	padding-right:40px;

	a{@media only screen and (max-width: 40em) {color:white;}}
	}

	li.rounded{
		border: solid 1px $green;
		border-radius: 6px;
		padding: 7px 20px;

	}

}

.main-text{

	padding-top:30px;
	@media only screen and (max-width: 40em){padding-top:0;}
	h1{
		font-size:60px;
		font-weight: 900;
		letter-spacing: -3px;
		color: white;
	}

	h4{
		padding-left:10px;
		color: white;

	}

}

input.main-input{
	padding: 25px;
font-size: 16px;
border: none;
box-shadow:none;
}

input.black{
	background:$black;
	color:white;
	border-radius: 6px;

	&:hover{
		background:$green;
		color:white;
	}

@media only screen and (max-width: 40em){
	float: right;
	margin-right: 16px;
}

}

h2.main{color:white;}

.social{
	font-size:20px;
	color:white;
	padding-top:6px;
	li{
		display: inline-block;
		padding-right:15px
	}
}



#footer{
	height:100px;
	p{
		font-size:11px;
		text-align: right;
		padding-right:20px;
	}
}/* ADD STYLES HERE */