//MY STYLES


$black: #494949;
$green: #3ecc69;
$orange:#ff7f00;
$browne:#b59b7c;

.clear10{padding:10px 0 10px 0;}
.clear20{padding:20px 0 20px 0;}
.clear30{padding:30px 0 30px 0;}
.clear40{padding:40px 0 40px 0;}
.clear50{padding:50px 0 50px 0;}

#main{
	position:absolute;
	width:100%;
	height:100%;
}

#one{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#two{
width: 100%;
height: 100%;
overflow: hidden;
background:$green;

	@media only screen and (max-width: 40em) { 
		height: auto;
	}
}

.note{
	margin-top:25px;
	font-size: 18px;
	color:$green;
	font-style:italic;

}


#three{
	@media only screen and (max-width: 40em){
		height:auto;
	}

	background:$black;
	padding:20px 0 20px 0;
	height:100%;

	p, li{
		font-size: 13px;
	}

	img{
		width:50%;
	}

	h1{
		font-size: 22px;
		color:$green;
	}

}

.arrow{
	margin:0 auto;
	width:64px;
	padding-top:30px;
}
.button-container{
	@media only screen and (max-width: 40em) { 
		padding-top:0px;
	}
	padding-top:35px;
	text-align:center;
}

body{
  background: url('../img/bg_main.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}

section, h1,h2,h3,h4,p{color:white;}

input, textarea {
	border-radius:3px;
	border:none !important;
	box-shadow:none !important;
}

.alert1{
	font-size: 14px;
	background: $green;
	padding: 6px;
	border-radius: 3px;
}
.form input.submit{
	float: right;
	padding: 14px;
	background: $green;
	color: white;
	cursor: pointer;
}

.form1 input.submit{
	float: right;
	padding: 14px;
	background: $green;
	color: white;
	cursor: pointer;
}

.grn-square{
	background:$green;
}

.green{
	background:$green;
	border-radius: 3px;
	color:white;

	&:hover{
		color:white;
		background:  $green;
		opacity:0.9;
	}
}


.orange{
	background:$orange;
	border-radius: 3px;
	color:white;

	&:hover{
		color:white;
		background:  $orange;
		opacity:0.9;
	}
}

.strip{
	padding: 0 0 116px;

	img{
		padding-top: 26px;
	}
}

nav{

	float:right;

	ul{padding-top: 34px;}

	li{
	display:inline-block;
	padding-right:40px;

	a{@media only screen and (max-width: 40em) {color:white;}}
	}

	li.rounded{
		border: solid 1px $green;
		border-radius: 6px;
		padding: 7px 20px;

	}

}

.main-text{

	span{
		color:$green;
		font-size: 27px;
		font-weight: bold;
		letter-spacing: -1px;
		border-bottom: 1px solid;
	}

	text-align: center;

	padding-top:70px;
	@media only screen and (max-width: 40em){
		padding-top:0;
		h1{
			font-size:40px !important;
			letter-spacing: -1px;
		}

	}
	h1{
		font-size:55px;
		font-weight: 900;
		letter-spacing: -3px;
		color: white;

	}

	h4{
		padding-left:10px;
		color: white;

	}

}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
	-moz-animation: #{$animation};
	-ms-animation: #{$animation};
	animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}

.bounce {
  @include animation(bounce 2s infinite);
}

.wrap{
	@media only screen and (max-width: 40em){
		padding-top:30px;
	}
	padding-top:100px;
}

.icon1, .icon2, .icon3{
	padding-bottom:20px;
}



.block{
		@media only screen and (max-width: 40em) { 
		margin-bottom: 30px;
	}
	background:white;
	margin:0 auto;
	padding:15px;
	text-align:center;
	min-height: 380px;

	-webkit-box-shadow: 2px 2px 0px 2px rgba(240,237,240,1);
	-moz-box-shadow: 2px 2px 0px 2px rgba(240,237,240,1);
	box-shadow: 2px 2px 0px 2px rgba(240,237,240,1);

	p {color: $black;}

	h4{
		color:$orange;
		font-weight: bold;
	}

}

.full{
	width:100%;
}

.form1{
	input{padding:25px}
	textarea{padding: 16px 25px 25px 25px;}

	.submit{
		padding: 20px 70px !important;	
		font-size: 16px;
	}
}

p.small-text{
	text-align: center;
padding-top: 180px;
font-style: italic;
font-size: 14px;
}

input.main-input{
	padding: 25px;
font-size: 16px;
border: none;
box-shadow:none;
}

input.black{
	background:$black;
	color:white;
	border-radius: 6px;

	&:hover{
		background:$green;
		color:white;
	}

@media only screen and (max-width: 40em){
	float: right;
	margin-right: 16px;
}

}

h2.main{color:white;}

.form{
	padding: 20px;
	border: 1px solid white;
	border-radius: 6px;
}

.form1{
	padding: 20px;
	margin-bottom: 60px;
}

.social{
	font-size:20px;
	color:white;
	padding-top:6px;
	li{
		display: inline-block;
		padding-right:15px
	}
}

.content {
  background: #222;
  box-shadow: 0 -1px 2px rgba(black,0.4); 
  color: #fff;
  margin-top: 400px;
  padding: 4% 0 200px;
  position: relative;
  z-index: 2;
  
  .inner {
    margin: 0 auto;
    max-width: 960px;
    padding: 40px 30px;
  }
 
}

.number{
	background: $orange;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 28px;
	font-weight: bold;
}

.right p{padding-top:25px;}

.footer{
	padding-top:15px;
}

#footer{
	height:100px;
	p{
		font-size:11px;
		text-align: right;
		padding-right:20px;
	}
}/* ADD STYLES HERE */